.projects-content {
    // margin-top: var(--l-sizing);
    padding-bottom: 1rem;

    .type-show {
        // background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: var(--xs-sizing) 0;

        .type {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: var(--primary-green);
            font-size: var(--font-size-xs);
            padding: 5px 10px;
            border-radius: 9999px;
            cursor: pointer;
            
            &[data-active="true"] {
                background-color: var(--primary-green);
                color: var(--white);
            }

            &[data-active="false"] {
                background-color: var(--background-green);
                border: 1px solid var(--primary-green);
            }

            &.--1 {
                z-index: 999;
                margin-right: -3.5rem;
            }

            &.--2 {
                padding-left: 4rem;
            }
        }
    }

    .filters {
        // background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .tags-avalaible {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--xs-sizing);

            .tag {
                background-color: var(--white);
                border: 1px solid var(--black);
                // border-radius: 9999px;
                border-radius: 10px;
                padding-inline: min(2vw, 40px);
                padding-block: min(2.5vw, 20px);
                font-size: var(--font-size-s);
                cursor: pointer;
                user-select: none;

                &[data-active="true"] {
                    // background-color: var(--primary-green);
                    // border: 1px solid var(--primary-green);
                    background-color: var(--black);
                    color: var(--white);
                }

                &:hover[data-active="false"] {
                    background-color: var(--secondary-green);
                }
            }
        }

    }

    .list-projects {
        position: relative;
        // width: calc(100vw - 2rem);
        width: 100vw;
        // margin-top: var(--l-sizing);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--s-sizing);

        .line-projects {
            background-color: var(--primary-green);
            height: 2px;
        }

        .project-item {
            position: relative;
            cursor: pointer;
            // width: calc(50% - 2rem);
            width: calc(100% - 2rem);
            // max-height: 400px;
            height: 400px;
            // height: 10%;
            // border-radius: 10px;
            // border: 1px solid var(--black);
            overflow: hidden;

            @media screen and (min-width: 1000px) {
                width: calc(50% - 2rem);
                // width: calc(100% / 3);
                // width: calc(100% / 3 - 2rem)
            }

            .mask-item {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 9999;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            img {
                position: relative;
                max-width: 100%;
                width: 100%;
                height: 100%;
                scale: 1.1;
                object-fit: cover;
                transition: scale var(--transition-cubic);
            }

            .item__tags {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                display: flex;
                flex-direction: row;
                gap: .5rem;

                .item__tags-tag {
                    pointer-events: none;
                    background-color: var(--black);
                    color: white;
                    // background-color: var(--white);
                    // border: 1px solid var(--black);
                    border-radius: 10px;
                    padding-inline: min(1vw, 20px);
                    padding-block: min(1.5vw, 10px);
                    font-size: var(--font-size-xs);
                }
            }

            .item__infos {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                margin: 1rem;
                mix-blend-mode: difference;
                color: white;
                overflow: hidden;

                @media screen and (max-width: 1000px) {
                    display: none;
                }

                p {
                    position: relative;
                    width: calc(100% - 2rem);
                    font-size: var(--font-size-xs);
                    will-change: transform;
                    transition: transform var(--transition-cubic);

                    &::after {
                        content: attr(data-after);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: max-content;
                    }
                }
            }

            @media screen and (min-width: 1000px) {
                &:hover img {
                    scale: 1.2;
                }

                &:hover p {
                    transform: translateY(-100%);
                }
            }
        }
    }
}