@import 'variables.scss';

/* -------------------------------------------------------  */
/* -------------------------------------------------------  */
/* ----------------------- RESET -------------------------- */
/* -------------------------------------------------------  */
/* -------------------------------------------------------  */

@font-face {
    font-family: Grotta-Trial;
    src: url('./assets/fonts/Grotta-Trial-Regular.ttf');
}

@font-face {
    font-family: Helvetica-Neue;
    src: url('./assets/fonts/HelveticaNeue.ttc');
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica-Neue', Arial, Helvetica, sans-serif;
    background-color: var(--white);
    overscroll-behavior: none;
    overflow-x: hidden;
    max-width: 1000px;
}

// body .main-content.body-content[data-home="true"] {
//     padding-top: 150px;
//     width: 100vw;
//     min-height: 100vh;
//     // min-height: calc(100dvh - 150px);
// }

body .main-content.body-content {
    // background-color: black;
    // padding-top: 150px;
    // padding-top: min(calc(100px + 10vw), 200px);
    padding-top: min(calc(100px + 5vw), 100px);
    padding-inline: 1rem;
    width: 100vw;
    min-height: 100vh;
    transition: background-color .5s ease;
    // min-height: calc(100dvh - 150px);
}

/* themes */

body .main-content.body-content[data-theme="black"] {
    background-color: var(--black);
}

body .main-content.body-content[data-theme="blue"] {
    background-color: var(--background-blue);
}

body .main-content.body-content[data-theme="green"] {
    background-color: var(--background-green);
}

/* lenis */

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/*============================*/
/*======= components =========*/
/*============================*/

// body.transitioning .header .menu {
//     visibility: hidden;
// }

body.transitioning .main-content > * {
    display: none;
    // opacity: 0;
    // visibility: hidden;
}

// body.transitioning .main-content > * {
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 1s ease, visibility 1s ease;
// }

h1, h2, h3, h4, h5, .main-font, .title-transition {
    font-family: var(--titles-font-family);
}

h1.title_page {
    font-size: var(--font-size-xxl);
}

p.large-size {
    font-size: var(--font-size-m);
}

p.basic-size {
    font-size: var(--font-size-s);
}

.linemask {
    position: relative;
    overflow: hidden;
    
    p {
        transform: translateY(100%);
    }
}

.line {
    width: calc(100% - 2rem);
    height: 1px;
}

a.link-line {
    position: relative;
    font-size: var(--font-size-s);

    &.header {
        display: flex;
        flex-direction: row;
        gap: 1px;
        color: white;
        text-decoration: none;
    }

    @media screen and (min-width: 1000px) {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            bottom: -2px;
            left: 0;
            transform: scaleX(0%);
            transform-origin: left;
            transition: all .35s ease-in-out;
        }
        
        
        &:hover::after {
            transform: scaleX(100%);
        }
    }
    
}

a.link-right-line {
    &::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(100%);
        transform-origin: right;
        transition: all .35s ease-in-out;
    }


    @media screen and (min-width: 1000px) {    
        &:hover::after {
            transform: scaleX(0%);
        }
    }
}

.mbc-m {
    display: block;
    margin-block: var(--m-sizing);
}

.mbc-xl {
    display: block;
    margin-block: var(--xl-sizing);
}

span.primary-keyword {
    color: var(--primary-blue);
}

.transition {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    transform: translateY(105dvh);
    background-color: var(--black);
    // background-color: rgba(0, 0, 0, 0.14);
  
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;

    .linemask .title-transition {
        font-size: clamp(32px, 7vw, 84px);
        color: white;
        transform: translateY(100%);
    }
}

.title-page {
    font-size: var(--font-size-xl);
}

.cursor {
    position: fixed;
    // background-color: red;
    z-index: 9999999;
    mix-blend-mode: difference;
    user-select: none;
    pointer-events: none;

    @media screen and (max-width: 1000px) {
        display: none;
    }

    .cursor-icon {
        position: absolute;
        width: 7.5px;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 50%;
    }

    .cursor-text {
        font-family: var(--titles-font-family);
        position: relative;
        color: white;
        width: 350px;
        height: 15px;
        // top: 0;
        // left: 0;
        // top: 50%;
        // left: 25px;
        // transform: translate(50%, -25%);
        pointer-events: none;
        // background-color: red;
        overflow: hidden;

        p {
            position: absolute;
            width: max-content;
            color: var(--white);
            font-size: var(--font-size-xs);
            top: -2.5px;
            // top: -5px;
            // top: 0;
            left: 15px;
            transform: translateY(100%);
            // transform: translateY(0%) !important;
        }
    }
}
