@import '../../styles/variables.scss';

body .main-content.body-content[data-theme="basic-noscroll"] {

    .home-container, .preview-container {
        display: none;
    }
}

.home-container {
    position: relative;
    // opacity: 0;
    // display: none;
    // height: calc(100dvh - 15dvh);
    // height: calc(100dvh - min(calc(100px + 10vw), 200px));
    // height: calc(100dvh - min(calc(100px + 10vw), 150px));
    height: calc(100dvh - min(calc(100px + 5vw), 100px));

    .home__content {
        font-family: var(--titles-font-family);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 12.5%;
        font-family: var(--titles-font-family);

        .container__title {

            h1 {
                font-size: var(--font-size-max);
                text-align: center;
                font-weight: 500;
                // margin-bottom: 10%;

                .perspective-letter {
                    display: inline-block;
                    perspective: 750px;
                    color: var(--black);
                }
            }
        }
    
        .container__infos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .infos__main {
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                gap: 20px;

                @media screen and (max-width: 1000px) {
                    text-align: center;
                }

                .infos {
                    color: var(--black);

                    &.large {
                        font-size: var(--font-size-l);
                        // margin-left: 50px;
                        text-align: center;
                        
                        @media screen and (min-width: 1000px) {
                            // text-indent: 10px;
                            align-self: end;
                        }
                    }

                    &.light {
                        font-size: var(--font-size-m);
                    }
                }
            }
        }


        .bottom__container {
            width: 100%;

            .bottom__infos {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: var(--s-sizing);

                svg {
                    width: 50px;
                    aspect-ratio: 1;
                }

                .bottom__text {
                    font-size: var(--font-size-s);
                    color: var(--black);
                }
            }
        }

        .bottom-left__container {
            position: absolute;
            bottom: 5%;
            left: 0;
            display: flex;
            flex-direction: row;
            gap: var(--xs-sizing);

            .bottom-left__text {
                font-size: var(--font-size-xs);
                color: var(--black);

            }
            
            svg {
                width: 15px;
                aspect-ratio: 1;
                align-self: flex-end;
            }
        }
    }
}

.preview-container {
    position: relative;
    height: 200vh;

    .home-preview__content {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: var(--s-sizing);
        margin-top: 25vh;
        padding-top: min(calc(100px + 5vw), 100px);
        // padding-block: 1px;
        // padding-block: min(10vh, 50px);
        // padding-block: min(10vw, 100px);
        width: 100%;
        height: 100vh;

        &[data-scroll-progress="50%"] {
            .projects__current p.infos__title {
                transform: translateY(-100%);
            }
        }

        .content__text {
            position: relative;
            mix-blend-mode: difference;
            height: calc(25% - min(10vh, 100px));

            @media screen and (min-width: 1000px) {
                max-width: 950px;
                width: 75%;
            }

            p {
                color: var(--light-gray);
                // color: white;
                font-size: var(--font-size-m);

                span.title {
                    position: relative;
                    margin-right: 50px;
                    // color: #474747;
                    color: var(--gray);

                    &::after {
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 1px;
                        top: 50%;
                        right: -37.5px;
                        background-color: var(--gray);
                    }
                }
            }

            .line-text {
                width: 50px;
                height: 1px;
                background-color: var(--gray);
            }
        }

        .content__projects {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: var(--m-sizing);
            height: calc(75% - min(10vh, 100px));

            img {
                width: 250px;
            }

            .top__projects {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: var(--font-size-xl);
                    color: var(--primary-blue);
                }

                a {
                    color: white;
                    position: relative;
                    text-decoration: none;

                    &::after {
                        background-color: var(--white);
                    }
                }
            }

            .projects__selected {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                mix-blend-mode: difference;
                gap: min(20%, 20px);
                
                @media screen and (min-width: 1000px) {
                    flex-direction: row;
                }

                .projects__current {
                    position: relative;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    @media screen and (min-width: 1000px) {
                        align-self: end;
                    }

                    p {
                        position: relative;

                        &::after {
                            content: attr(data-after);
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translateY(100%);
                        }
                    }

                    .current__infos {
                        display: flex;
                        flex-direction: column;
                        gap: var(--xs-sizing);

                        p {
                            color: var(--light-gray);
                            font-size: var(--font-size-xl);
                        }

                        .infos__index {
                            mix-blend-mode: difference;
                            overflow: hidden;
                        }

                        .infos__title {
                            overflow: hidden;
                        }
                    }

                    .current__theme {
                        overflow: hidden;

                        p {
                            color: var(--light-gray);
                            font-size: var(--font-size-s);
                        }
                    }
                }
    
                .works__image {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    align-self: center;
                    // overflow: hidden;

                    @media screen and (min-width: 1000px) {
                        align-self: flex-end;
                        width: 100%;
                        max-width: 750px;
                    }

                    .mask {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 111;
                        cursor: pointer;
                    }

                    .project {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            position: absolute;
                            object-fit: cover;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            aspect-ratio: 1;
                            cursor: pointer;

                            &.--1 {
                                z-index: 9;
                            }

                            &.--2 {
                                z-index: 10;
                                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
                                /* --> polygon(0% 0%, 100% 0%, 100% 100%, 0 100%) */
                            }
                        }
                    }
                }
            }
        }
    }
}
