@import '../../styles/variables.scss';

.logo {
    position: fixed;
    z-index: 999;
    // background-color: red;
    width: max-content;
    max-width: 450px;
    height: 15vh;
    padding: 1rem;
    mix-blend-mode: difference;
    font-family: var(--titles-font-family);

    p {
        color: white;

        &.title {
            font-size: var(--font-size-m);
        }

        &.subtitle {
            font-size: var(--font-size-s);
        }
    }
}

.logo[data-visible="true"] {

    .logo-container {

        .linemask {

            p {
                transform: translateY(0%);
            }
        }
    }
}

nav.header[data-visible="true"] {
    transform: translateY(0px);
    opacity: 1;
}

nav.header {
    position: fixed;
    transform: translateY(10px);
    height: 15vh;
    opacity: 0;
    width: 50vw;
    z-index: 10;
    // min-width: calc(100vw - 250px);
    // background-color: red;
    mix-blend-mode: difference;
    padding: 1rem;
    right: 0;

    .list-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: end;
            gap: 10px;
        }

        li {

            a[data-active="true"] {
                position: relative;
                pointer-events: none;
                color: var(--gray);

                &::before {
                    content: '';
                    width: 7.5px;
                    position: absolute;
                    top: 25%;
                    left: -35%;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: var(--white);
                }
            }
        }
    }
}
