.scroll-down-mobile {
    position: absolute;
    z-index: 100000;
    left: 1rem;
    bottom: 1rem;
    font-size: var(--font-size-xs);
    mix-blend-mode: difference;
    color: white;
}

.project-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;

    img.banner {
        position: absolute;
        object-fit: cover;
        scale: 1;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.project-content {
    // padding-top: 20px;
    position: relative;
    // width: calc(100vw - 2rem);
    width: calc(100vw - 2rem);
    margin-inline: auto;
    height: max-content;
    margin-top: calc(100vh - min(calc(100px + 5vw), 200px));
    padding-block: 3rem;
    // word-break: break-all;

    @media screen and (min-width: 1000px) {
        width: calc(100vw - 8rem);
    }

    .title {
        position: relative;
        // margin-bottom: var(--s-sizing);
        margin-block: var(--xl-sizing);
        font-size: var(--font-size-m);
        margin-left: min(30%, 40px);
        color: var(--light-gray);
        // background-color: red;
        // width: max-content;

        &::after {
            content: '';
            position: absolute;
            // width: calc(100% - (var(--xl-sizing) + (min(30%, 40px))));
            // width: calc(100% - min(30%, 40px));
            width: 100%;
            height: 1px;
            background-color: var(--light-gray);
            left: 0;
            right: 0;
            bottom: -10px;
        }
    }

    .content__description {
        display: flex;
        flex-direction: column;
        gap: var(--s-sizing);

        .project__desc {
            .linemask:first-child {
                text-indent: min(30%, 40px);
            }
        }

        .project-font {
            font-size: var(--font-size-xl);
            width: 60%;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }
        }

        .project__tags {
            align-self: flex-end;

            div {
                display: flex;
                flex-direction: column;

                .project-roles {
                    font-size: var(--font-size-s);
                    align-self: flex-end;
                    margin-bottom: var(--xs-sizing);
                    color: var(--light-gray);
                }

                .project-font-tags {
                    font-size: var(--font-size-m);
                    width: max-content;
                    align-self: flex-end;

                    p {
                        text-align: right;
                    }
                }
            }
        }

    }

    .content__images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--l-sizing);

        img {
            width: 100%;
            max-width: 850px;
            // aspect-ratio: 1920 / 1080;
        }
    }
}